<h1>Homepage</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      {% markdown %}

      # test1

      - sdfsd
      - sdfsdf
      - sdfsdf


          This is wrapped in pre

      {% endmarkdown %}
    </div>
    <div class="col-xs-6">
      {% markdown %}

      # test1

      - sdfsd
      - sdfsdf
      - sdfsdf


          This is wrapped in pre

      {% endmarkdown %}
    </div>
    <div class="col-xs-6">
        {% markdown %}
      # test2
        {% endmarkdown %}
    </div>
  </div>
</div>

{% markdown %}

### some footer text

- sdfsd
- sdfsdf
- sdfsdf

{% endmarkdown %}
